<div class="container">
    <div class="row">
        <dir class="col-sm-3 border border-primary">
            <ul class="list-group">
                <li class="list-group">
                    <img src="/images/fantipper.jpg" alt="..." class="rounded-circle" height="50px" width="50px">
                    {{name}}
                </li>
                <li class="list-group">
                    <a href="">Tip History</a>
                </li>
                <li class="list-group">
                    <a href="">Edit Profile</a>
                </li>
                <div class="dropdown-divider"></div>
                <li class="list-group">
                    <a href="">Add Creators Profile</a>
                </li>
            </ul>
        </dir>
        <div class="col-sm-9 border border-primary">
            <h2>Edit Profile</h2>
            <div>
                <form action="" class="">
                    <div class="form-group">
                        <label for="name">NAME</label> <br>
                        <input type="name" name="name" id="name" value="{{name}}">
                    </div>
                    <div class="form-group">
                        <label for="email">EMAIL</label> <br>
                        <input type="email" name="email" id="email" value="{{email}}">
                    </div>
                    <button class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>